@import '../../styles/settings.scss';

.columnForm {
    text-align: center;
    padding: 10px;

    span {
        margin: 0 5px 0 10px;
    }
}

@media (max-width: 767px) {
    .columnForm {
        display: flex;
        flex-direction: column;
    }
  }