@import '../../styles/settings.scss';

.cardForm {
    text-align: center;
    padding: 10px;
}

@media (max-width: 767px) {
    .cardForm {
        display: flex;
        flex-direction: column;
    }
  }